/** content.css
 * Author: Thomas McGrew
 *
 * This file is for styling the content on any specific page on the website. Any
 * code added to this file should be intended for content within a specific 
 * element, make sure the selectors are formatted accordingly so as not to 
 * affect other aspects of the web site.
 */

div.twitter, div.picasa {
	width: 300px;
	float:right;
	font-size:0.8em;
	border-width: 0 0 1px 1px;
	border-color: #ccc;
	border-style: solid;
	margin: 0 0 10px 10px;
}

ul.twitter, ul.picasa {
	list-style-type: none;
	margin: 0;
	padding:3px 0 3px 3px;
}

li.twitter span {
	color: #aaa;
	font-size: 0.8em;
	padding: 0;
}

li.twitter + li.twitter, li.picasa + li.picasa {
	border-top: 1px solid #ccc;
}

div.twitter h3, div.picasa h3 {
	text-align:center;
	padding: 0;
	margin: 0;
}

div.picasa {
	clear: right;
	text-align:center;
}


