<script type="text/javascript"><!--
picasaCallback = function( feed ) {
	size = 300;
	picasa = feed;
	entry = feed.feed.entry;
	i = 0;
	document.write( "<ul class='picasa'>" );
	while ( i < 5 ) {
		document.write( "<li class='picasa'>" );
		document.write( "<a href='" + entry[ i ].link[ 1 ].href + "'>" );
		document.write( "<img src='" );
		document.write( entry[ i ].content.src.replace( /\/([^\/]*)$/, "/s" + size + "/$1" ));
		document.write( "' /></a>")
		document.write( "</li>" );
		i++;
	}
	document.write( "</ul>" );
};
--></script>
<script src="http://picasaweb.google.com/data/feed/base/user/tjmcgrew/?alt=json&amp;kind=photo&amp;hl=en_US&amp;callback=picasaCallback"></script>

